# PyTorch 2.4.1
--extra-index-url https://download.pytorch.org/whl/cu121

torch==2.4.1
torchvision==0.19.1
numpy==1.24.4
opencv-python==4.7.0.72
trimesh==3.15.2
imageio==2.31.1
PyOpenGL==3.1.0
moderngl==5.6.4
pyglet<2
pyrender==0.1.45
networkx==2.8.8
rtree==1.0.1
pybullet==3.2.5
transformers==4.41.2
huggingface-hub>=0.24.0,<1.0
tokenizers>=0.14.0
diffusers>=0.20.0
gradio>=3.40.0
accelerate
datasets
evaluate
scikit-learn
matplotlib
seaborn
tqdm>=4.66.1
scipy
pillow>=9.4.0
requests
omegaconf
hydra-core>=1.3.2
iopath>=0.1.10
einops
rembg
xformers==0.0.22.post7

pybind11
ipycanvas
ipyevents 
jupyter-client<8
comm
flask
ipython
tornado
pygltflib
usd-core

open3d
h5py
numba
ruamel.yaml
kornia
transformations
joblib
fvcore
warp-lang
ninja
onnxruntime

cython==3.0.11

# Dependencies from Instantmesh
pytorch-lightning==2.1.2
torchmetrics
webdataset
tensorboard
PyMCubes
bitsandbytes
imageio[ffmpeg]
xatlas
plyfile

# Dependencies from bop_toolkit
vispy>=0.6.5
pytz
pypng
